<html>
    <head>
        {% block head %}
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='style.css') }}/>
        {% endblock %}
    </head>
    <body>

        <div class = "top">
            <div class = "topbar">
                <a class = "topbarElement" href = "javascript:void(0);" onclick = "togglefunction()" title = "Toggle Page">
                    <i class = "bars"></i>
                </a>
                <a href = "/Search" class="topbarElement">Search</a>
                <a href = "/create" class="topbarElement">Create Recipe</a>
                <a href = "/" class="topbarElement">Log In</a>
            </div>
        </div>

        {% block body %}
        {% endblock %}
    </body>
</html>