{% extends "base.html" %}
{% block title %}Recipe Builder{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='style.css') }}/>
{% endblock %}
{% block body %}

<div class="bodyDiv">
<h3 style="margin-left:4%;font-size:18">To get started, select ingredients from the table below. After it has been added, you can check the ingredient's possible substitutions by clicking on the "Alt" button.</h3>
<hr class="majorLine">

<div class="container-fluid" id="creationAccordion">
    <div class="row">
        <div class="col-md-4">
            <div class="accordion creationAccordion2" id="accordionExample">
                
                <div class="card">  <!-- Fruit -->
                    <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Fruit
                        </button>
                    </h2>
                    </div>

                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body createTable">
                        {{fruit_table}}
                    </div>
                    </div>
                </div>  <!-- Fruit -->
                
                <div class="card">  <!-- Grain -->
                    <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Grain
                        </button>
                    </h2>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body createTable">
                        {{grain_table}}
                    </div>
                    </div>
                </div>  <!-- Grain -->
                
                <div class="card">  <!-- Vegetable -->
                    <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Vegetable
                        </button>
                    </h2>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body createTable">
                        {{vegetable_table}}
                    </div>
                    </div>
                </div>  <!-- Vegetable -->
                
                <div class="card">  <!-- Protein -->
                    <div class="card-header" id="headingFour">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        Protein
                        </button>
                    </h2>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                    <div class="card-body createTable">
                        {{protein_table}}
                    </div>
                    </div>
                </div>  <!-- Protein -->
                
                <div class="card">  <!-- Dairy -->
                    <div class="card-header" id="headingFive">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        Dairy
                        </button>
                    </h2>
                    </div>
                    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                    <div class="card-body createTable">
                        {{dairy_table}}
                    </div>
                    </div>
                </div>  <!-- Dairy -->
                
            </div>
        </div>
        <!-- Middle Column -->
        <div class="col-md-4">
            <input type="text" name="recipe_name" id="recipe_name_textbox" placeholder="Name your recipe">
            <table class="createTable addedIng">
                <thead>
                    <tr id="recipe_head_row" style="display: none;">
                        <th>Ingredient Name</th>
                        <th>Food Group</th>
                        <th>Number of Positive Attributes</th>
                        <th>Number of Negative Attributes</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="recipe_table_body"></tbody>
            </table>
            <button class="modifySaveButton" id="save_recipe_button">Save Recipe</button>
            <div class="alert alert-primary" role="alert" style="display:none"></div>
        </div>
        <!-- Right column -->
        <div class="col-md-4">
            <div class="addedIng" id="right_div">
                
            </div>
        </div>
    </div>
</div>
</div>

<script>
    let ingredient_count = ["{{ ing_count[0] }}", "{{ ing_count[1] }}", "{{ ing_count[2] }}", "{{ ing_count[3] }}", "{{ ing_count[4] }}"];
</script>
<script src="{{ url_for('static', filename='js/create_recipe.js') }}"></script>
{% endblock %}
