{% extends "base.html" %}      
{% block title %}Ingredient Detail - {{ingredient.ing_name}}{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='style.css') }}/>
{% endblock %}
{% block body %}


<!-- INGREDIENT NAME BEGINS HERE -->
<h1 style="margin-left:5%">
    <b>{{ingredient.ing_name}}</b>
</h1>
<center><hr class="majorLine"></center>


<!-- INGREDIENT INFORMATION BEGINS HERE -->
<div>
    <p style="float: left; border: 3px solid gray;margin-left:15%;margin-bottom:10px">
    <img src={{ url_for('static', filename = 'avocado.jpeg') }} width="320" height="320" alt="avocado" title="Avocado">
    <h2 style="margin-left:40%">
        <b>Summary</b>
    </h2>
</div>
<hr class="minorLine" style="float:right;margin-right:13%;margin-left:0px">
<h3 style="margin-left:42%;margin-top:10px">
    Food Group: {{ingredient.food_group.fg_name}}
</h3>
<h3 style="margin-left:42%">
    Description: blablablablablablablablablablablabla... 
</h3>
<br>



<hr class="minorLine" style="float:right;margin-right:13%;margin-left:0px">
<center><hr class="majorLine"></center>



<!-- ETHICAL ATTRIBUTES BEGIN HERE -->
<div class="attributeBubble" style="clear:both;float:left;margin-left:10%;margin-top:8px">
    <h2 style="text-align:center">
        <b>Positive Attributes</b>
    </h2>
    <p style="text-align:center"> - <u>A list of ethically positive facts about this ingredient</u></p>
    <ul style="text-align:left">
        {% for attr in ingredient.attributes %}
            {% if attr.att_pos_neg %}
                <li>{{ attr.att_desc }}</li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
<div class="attributeBubble" style="float:right;margin-right:10%;margin-top:8px">
    <h2 style="text-align:center">
        <b>Negative Attributes</b>
    </h2>
    <p style="text-align:center"> - <u>A list of not-so-ethical facts about this ingredient</u></p>
    <ul style="text-align:left">
        {% for attr in ingredient.attributes %}
            {% if not attr.att_pos_neg %}
                <li>{{ attr.att_desc }}</li>
            {% endif %}
        {% endfor %}
    </ul>
</div>

<div class="shortSpace"></div>


<div class="greyBlock">
    <center>
    <h3 style="margin-top:10px">Possible Alternatives</h3>
    <p> - A list of ingredients that could be used as a substitute:</p>
    <ul style="list-style-type:none;margin-bottom:20px">
        {% for ings in ingredient.food_group.ingredients %}
            <li>{{ ings.ing_name }}</li>
        {% endfor %}
    </ul>
    </center>
</div>
{% endblock %}
