{% extends "base.html" %}      
{% block title %}Ingredient Detail - {{ingredient.ing_name}}{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='style.css') }}/>
{% endblock %}
{% block body %}


<!-- INGREDIENT NAME BEGINS HERE -->
<h1 style="margin-left:5%">
    <b>{{ingredient.ing_name}}</b>
</h1>
<center><hr class="majorLine"></center>


<!-- INGREDIENT INFORMATION BEGINS HERE -->
<div>
    <p style="float: left; border: 3px solid gray;margin-left:15%;margin-bottom:10px">
    <img src={{ ingredient.ing_pic }} width="320" height="320" alt=ingredient.ing_name title=ingredient.ing_name>
    <h2 style="margin-left:40%">
        <b>Summary</b>
    </h2>
</div>
<hr class="minorLine" style="float:right;margin-right:13%;margin-left:0px">
<div class="infoArea">
    <h3>
        Food Group: {{ingredient.food_group.fg_name}}
    </h3>
    <h3>
        Description: {{ingredient.ing_desc}} 
    </h3>
</div>
<br>



<hr class="minorLine" style="float:right;margin-right:13%;margin-left:0px">
<center><hr class="majorLine"></center>



<!-- ETHICAL ATTRIBUTES BEGIN HERE -->
<div class="attributeBubble" style="clear:both;float:left;margin-left:10%;margin-top:8px">
    <h2 style="text-align:center">
        <b>Positive Attributes</b>
    </h2>
    <p style="text-align:center"> - <u>A list of ethically positive facts about this ingredient</u></p>
    <ul style="text-align:left">
        {% for attr in ingredient.attributes %}
            {% if attr.att_pos_neg %}
                <li>{{ attr.att_desc }}</li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
<div class="attributeBubble" style="float:right;margin-right:10%;margin-top:8px">
    <h2 style="text-align:center">
        <b>Negative Attributes</b>
    </h2>
    <p style="text-align:center"> - <u>A list of not-so-ethical facts about this ingredient</u></p>
    <ul style="text-align:left">
        {% for attr in ingredient.attributes %}
            {% if not attr.att_pos_neg %}
                <li>{{ attr.att_desc }}</li>
            {% endif %}
        {% endfor %}
    </ul>
</div>

<div class="shortSpace"></div>


<div class="greyBlock">
    <h3 style="margin-top:10px"><u>Possible Alternatives</u></h3>
    <p>Here are some ingredients that could be used as a substitute:</p>
    <ol style="margin-bottom:20px;margin-left:0px;list-style-position:inside;text-align:center">
        {% for ings in ingredient.food_group.ingredients %}
            <li>{{ ings.ing_name }}</li>
        {% endfor %}
    </ol>
</div>
{% endblock %}
