{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Login{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='hide_navbar.css') }}/>
{% endblock %}
{% block body %}
<div class="container">
  

  <center>
  <h1 style="margin-top:10%;font-size:100px">Ethical Eating</h1>

  <form class="form-signin loginForm" method="POST" action ="/login">
    <h2 class="form-signin-heading">Log In</h2>
    {{ form.hidden_tag() }}
    {{ wtf.form_field(form.username) }}
    {{ wtf.form_field(form.password) }}
    {{ wtf.form_field(form.remember) }}
    <button class="btn btn-lg btn-primary btn-block" type="submit" style="width:270px">Sign In</button>
  </form>

  <!-- flash -->
  <center>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for msg in messages %}
          <p>{{msg}}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}
  </center>
    <!-- flash -->

  <form action="/signup" style="width:30%">
    <button class="btn btn-lg btn-secondary btn-block" type="submit">Create Account</button>
  </form>
  </center>
  
</div> <!-- /container -->
{% endblock %}
