{% extends "base.html" %}       
{% block title %}Search Page{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='style.css') }}/>
{% endblock %}
{% block body %}

<!-- PAGE NAME BEGINS HERE -->
<h1 style="margin-left:5%">
  <b>Search</b>
</h1>
<center><hr class="majorLine"></center>

<!-- FORM BEGINS HERE -->
<center>
{% from "_formhelpers.html" import render_field %}
<form class="searchForm" method=post>
  <dl>
    {{ render_field(form.select) }}
    {{ render_field(form.search) }}
  </dl>
  <p><input type=submit value=Go>
</form>

<!-- TABLE BEGINS HERE -->
<div class="searchTable" style="clear:both">
{% if table %}
<h2><u>Results:</u></h2 style="margin-top:30px">
{{ table }}
{% endif %}
</center>
{% endblock %}
