{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Sign Me Up{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='hide_navbar.css') }}/>
{% endblock %}
{% block body %}
<div class="container">
  <!-- flash -->
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for msg in messages %}
        <p>{{msg}}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}
  <!-- flash -->

  <center>
  <form class="form-signin loginForm" method="POST" action="/signup">
    <h2 class="form-signin-heading">Create An Account</h2>
    {{ form.hidden_tag() }}
    {{ wtf.form_field(form.username) }}
    <div><p>- Username length must be between 3 and 16 inclusive</p></div>
    {{ wtf.form_field(form.password) }}
    <div><p>- Password length must be between 8 and 32 inclusive</p></div>
    <button class="btn btn-lg btn-primary btn-block" type="submit" style="width:270px">Sign Up</button>
  </form>

  <form action="/login" style="width:30%">
    <button class="btn btn-lg btn-secondary btn-block" type="submit">Login</button>
  </form>
  </center>
  
</div> <!-- /container -->
{% endblock %}
